global_defs {
  # Don't run scripts configured to be run as root if any part of the path
  # is writable by a non-root user.
  enable_script_security
}

vrrp_script blocky_responding {
  script   "/usr/bin/dig google.fr @127.0.0.1"
  timeout  2 # # seconds after which script is considered to have failed
  interval 3 # seconds between script invocations
  rise     5 # required number of successes for OK transition
  fall     2 # required number of successes for KO transition
  user     blocky blocky # user/group names to run script under
}

vrrp_instance blocky {
  # Initial state, MASTER|BACKUP
  # If the priority is 255, then the instance will transition immediately
  # to MASTER if state MASTER is specified; otherwise the instance will
  # wait between 3 and 4 advert intervals before it can transition,
  # depending on the priority.
  state BACKUP
  
  # interface for inside_network, bound by vrrp.
  interface {{ ansible_default_ipv4['interface'] }}

  # arbitrary unique number from 1 to 255
  virtual_router_id {{ keepalived__virtual_router_id }}

  # for electing MASTER, highest priority wins.
  # The valid range of values for priority is [1-255], with priority
  # 255 meaning "address owner".
  # To be MASTER, it is recommended to make this 50 more than on
  # other machines. All systems should have different priorities
  # in order to make behaviour deterministic.
  priority {{ keepalived__vrrp_priority }}

  virtual_ipaddress {
    {{ keepalived__vip }} dev {{ ansible_default_ipv4['interface'] }}
  }

  track_script {
    blocky_responding
  }
}
