prometheus.exporter.self "alloy_check" { }

discovery.relabel "alloy_check" {
  targets = prometheus.exporter.self.alloy_check.targets

  rule {
    target_label = "instance"
    replacement  = constants.hostname
  }

  rule {
    target_label = "alloy_hostname"
    replacement  = constants.hostname
  }

  rule {
    target_label = "job"
    replacement  = "integrations/alloy-check"
  }
}

prometheus.scrape "alloy_check" {
  targets    = discovery.relabel.alloy_check.output
  forward_to = [prometheus.relabel.alloy_check.receiver]  

  scrape_interval = "30s"
}

prometheus.relabel "alloy_check" {
  forward_to = [prometheus.remote_write.metrics_service.receiver]

  rule {
    source_labels = ["__name__"]
    regex         = "(prometheus_target_sync_length_seconds_sum|prometheus_target_scrapes_.*|prometheus_target_interval.*|prometheus_sd_discovered_targets|alloy_build.*|prometheus_remote_write_wal_samples_appended_total|process_start_time_seconds)"
    action        = "keep"
  }
}

prometheus.remote_write "metrics_service" {
  endpoint {
    url = "https://prometheus-prod-01-eu-west-0.grafana.net/api/prom/push"

    basic_auth {
      username = "{{ vault_grafana_cloud_prometheus_username }}"
      password = "{{ vault_grafana_cloud_token }}"
    }
  }
}

loki.write "grafana_cloud_loki" {
  endpoint {
    url = "https://logs-prod-eu-west-0.grafana.net/loki/api/v1/push"

    basic_auth {
      username = "{{ vault_grafana_cloud_loki_username }}"
      password = "{{ vault_grafana_cloud_token }}"
    }
  }
}

{% if blocky_enabled is defined and blocky_enabled %}
// Start: blocky
prometheus.scrape "blocky" {
  targets = [
    {"__address__" = "localhost:4000", "job" = "blocky", "instance" = constants.hostname},
  ]
  scrape_interval = "30s"
  forward_to = [prometheus.remote_write.metrics_service.receiver]
}
// End: blocky

// Start: keepalived_exporter_blocky
prometheus.scrape "keepalived_exporter_blocky" {
  targets = [
    {"__address__" = "localhost:9165", "job" = "keepalived-exporter-blocky", "instance" = constants.hostname},
  ]
  scrape_interval = "30s"
  forward_to = [prometheus.remote_write.metrics_service.receiver]
}
// End: keepalived_exporter_blocky
{% endif %}

{% if k3s_master is defined and k3s_master %}
// Start: k3s
prometheus.scrape "k3s" {
  targets = [
    {"__address__" = "localhost:2381", "job" = "integrations/etcd", "cluster" = "k3s-homelab", "instance" = constants.hostname},
  ]
  scrape_interval = "30s"
  forward_to = [prometheus.remote_write.metrics_service.receiver]
}
// End: k3s
{% endif %}
