apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config
  labels:
    app: lidarr
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi