# Password used by ansible for privilege escalation (sudo)
ansible_become_pass: sudo_password

# Token used to send metrics/logs to Prometheus
vault_grafana_cloud_prometheus_username: xx

# Token used to send metrics/logs to Loki
vault_grafana_cloud_loki_username: xx

# Token used to send metrics/logs to Grafana
vault_grafana_cloud_token: token