---
- name: Common setup
  hosts: [bean, carrot, celery, potato]

  roles:
    - common
    - exit_node
    - alloy_node

- name: Setup k3s nodes
  hosts: [bean, carrot, celery]

  roles:
    - k3s_control_plane
    - dns_server
    - keepalived
